.step-process{
    display: -webkit-flex;      /* 新版本语法: Chrome 21+ */
    display: flex;              /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0.6rem 0.3rem 0.4rem;
    background: #fff;
    color: #c2c2c2;
}
.step-process>div i{
    position: relative;
}
.step-process>div i:before{
    content: '';
    display: block;
    height: 0.02rem;
    width: 2.35rem;
    position: absolute;
    left: 0.6rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: #da231b;
}
.step-process>div:last-child i:before{
    display: none;
}
.step-process i{
    display: block;
    font-size: 16px;
    font-style: normal;
    width: 0.6rem;
    margin: 0 auto 0.25rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #da231b;
    background: #fff;
    color: #da231b;
}
.step-process .active,
.step-process .done{
    color: #da231b;
}
.step-process .active i,
.step-process .done i{
    background: #da231b;
    color: #fff;
}
.step-process .active i{
    box-shadow:  0 0 3px 3px #fff,
    0 0 0 5px #ffb7b4 ;
}

label.btn-outline{
    margin-right: 0.1rem;
    display: inline-block;
    width: 1.85rem;
    line-height: 0.62rem;
    text-align: center;
    color: #666;
    border-color: #dedede;
    border-radius: 3px;
}

input[type="radio"]:checked + label{
    color: #0657a5;
    border-color: #0657a5;
}

.service-list{
    display: -webkit-flex;      /* 新版本语法: Chrome 21+ */
    display: flex;              /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
}
.service-list .service{
    width: 33.3%;
    text-align: center;
    margin-bottom: 0.3rem;
}
.service-list .service label{
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 0.1rem;
    margin-bottom: 0.1rem;
    position: relative;
}
.service-list .service label span{
    margin-top: 0.39rem;
}


.ico-checkbox{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../imgs/ico-checkbox@2x.png) no-repeat center;
    background-size: 0.3rem;

    position: absolute;
    right: -0.2rem;
    top: -0.2rem;
}
.service input:checked + i.ico-checkbox{
    background: url(../imgs/ico-checked@2x.png) no-repeat center;
    background-size: 0.3rem;
}


.tab{
    display: -webkit-flex;      /* 新版本语法: Chrome 21+ */
    display: flex;              /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}
.tab-type{
    width: 19.5%;
    font-size: 13px;
    text-align: center;
    line-height: 0.98rem;
    border-top: 2px solid #ccc;
}
.tab-type.selected{
    border-color: #da231b;
}
.tab-type-1.active{
    color: transparent;
    background: #da231b url(../imgs/ico-type-1@2x.png) no-repeat center;
    background-size: 0.5rem;
    border-color: #da231b;
}
.tab-type-2.active{
    color: transparent;
    background: #da231b url(../imgs/ico-type-2@2x.png) no-repeat center;
    background-size: 0.5rem;
    border-color: #da231b;
}
.tab-type-3.active{
    color: transparent;
    background: #da231b url(../imgs/ico-type-3@2x.png) no-repeat center;
    background-size: 0.5rem;
    border-color: #da231b;
}
.tab-type-4.active{
    color: transparent;
    background: #da231b url(../imgs/ico-type-4@2x.png) no-repeat center;
    background-size: 0.5rem;
    border-color: #da231b;
}
.tab-type-5.active{
    color: transparent;
    background: #da231b url(../imgs/ico-type-5@2x.png) no-repeat center;
    background-size: 0.5rem;
    border-color: #da231b;
}
