body,
input,
textarea {
    margin: 0;
	font: 12px "PingFang-SC-Regular", "Microsoft YaHei", sans-serif;
}

textarea,
input{
    font-family: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 /*-webkit-user-select: none;/*禁掉用户可以选中页面中的内容，*/
  -webkit-appearance:none;
  outline: none;
}
a {
    color: #0657a5;
}

[v-cloak] {
    display: none !important;
}

::-webkit-input-placeholder {
    color: #c2c2c2 !important;
    text-overflow: ellipsis;
}

:-moz-placeholder {
    color: #c2c2c2 !important;
    text-overflow: ellipsis;
}

::-moz-placeholder {
    color: #c2c2c2 !important;
    text-overflow: ellipsis;
}

:-ms-input-placeholder {
    color: #c2c2c2 !important;
    text-overflow: ellipsis;
}

.input-hide{
    width: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fix:after {
    content: '';
    display: table;
    clear: both;
}

.fix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 文字超出隐藏 */
.inaline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.inline-x {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    /*-webkit-line-clamp:*/
}
/* 文字超出隐藏 */

.mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

.btn {
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 0.06rem;
    line-height: 0.8rem;
    background: #0657a5;
	color: #fff;
    text-align: center;
}

.btn.disabled {
    color: #5d8bb8;
}

.btn-outline {
    display: block;
    font-size: 12px;
    color: #ccc;
    border-radius: 0.03rem;
    border: 1px solid #e5e5e5;
    line-height: 0.58rem;
    padding: 0 0.1rem;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3rem;
    background: #fff;
}

.navigation {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 0.88rem;
    background: #0657a5;
}

@media (min-width: 750px) {
    .navigation,
	body{
		width: 750px;
		margin: 0 auto;
	}
}

.page-content {
    margin-top: 0.88rem;
}

.navigation a {
    margin-left: 0.3rem;
    margin-top: 0.23rem;
    margin-bottom: 0.23rem;
}

.navigation h1 {
    margin: 0;
    font-weight: normal;
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 0.88rem;
	padding-right: 0.52rem;
}

.label-must{
    text-indent: 10px;
    position: relative;
}
.label-must::before{
	content: '*';
	color: #da231b;
	vertical-align: middle;
	font-size: 18px;
    margin-right: 0.04rem;
    position: absolute;
    left: -10px;
    top: 4px;
    bottom: 0;
}

.form-group label{
	line-height: 0.36rem;
    padding: 0.16rem 0;
}
.form-group{
    margin: 0.35rem 0;
    padding: 0.15rem 0;
    border-bottom: 1px solid #e5e5e5;
}

.form-group input,
.form-group textarea {
    border: none;
    font-size: 14px;
    width: 5.95rem;
    padding: 0.16rem 0;
}

.form-group input{
    display: block;
    padding: 0;
    line-height: 0.36rem;
    padding-left: 0.18rem;
    padding-right: 0.18rem;
    color: #333;
}
.form-group input:disabled{
    background: transparent;
    color: #333;
}

.protocol-content{
    padding-bottom: 0.6rem;
}
.protocol-content h2{
    margin: 0;
    padding: 0.6rem 0 0.5rem;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}
.protocol-content p{
    margin: 0;
    font-size: 12px;
    text-indent: 24px;
    line-height: 1.8;
    text-align: justify;
    word-break: break-all;
}
.protocol-content h3{
    margin: 0;
    font-size: 12px;
    text-indent: 24px;
    line-height: 2;
    color: #333;
}

.subtitle{
    font-size: 12px;
    border-left: 0.08rem solid #0657a5;
    padding-left: 0.1rem;
    margin: 0.25rem 0;
    font-weight: 500;
}


/* 重置weui */
.my-toast .weui-toast{
    top: 50%;
    width: auto;
    margin: 0;
    min-height: 0.1rem;
    padding: 0.3rem;
    font-size: 14px;
    border-radius: 30px;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
}
.my-toast i{
    display: none;
}
.my-toast p{
    margin: 0;
    line-height: 1;
}

.my-alert .weui-dialog{
    width: 5.5rem;
    border-radius: 0.1rem;
}
.my-alert .weui-dialog__bd{
    padding: 0.5rem 0.4rem 0.1rem;
}
.my-alert .weui-dialog__ft{
    line-height: 0.8rem;
    font-size: 13px;
}
.my-alert a,
.my-datepicker a{
    color: #0657a5;
}
.my-datepicker .weui-picker__hd{
    font-size: 12px;
    padding: 0.25rem 0.3rem;
}
