body {
    background: #f4f4f4;
}

.navigation a.ico-search {
    margin-right: 0.3rem;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem;
}

.enquiry-item {
    padding: 0.3rem;
    background: #fff;
    margin-bottom: 0.1rem;
    position: relative;
}
.enquiry-item:last-child{
    margin-bottom: 1.8rem;
}
.enquiry-item h2 {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin: 0.1rem 0 0.4rem;
}
[data-dpr="3"] .enquiry-item h2 {
    font-size: 17px;
}
.enquiry-item p {
    font-size: 12px;
    margin: 0.24rem 0 0.1rem;
    color: #666;
}
.enquiry-item p b{
    font-weight: 500;
    color: #333;
}
[data-dpr="3"] .enquiry-item p {
    font-size: 14px;
}
.enquiry-item .enquiry-status{
    top: auto;
    bottom: 0.4rem;
}

.ico-from-to{
    margin: 0 auto;
    display: block;
    width: 1.2rem;
    height: 17px;
    background: url(../imgs/ico-to@2x.png) no-repeat center;
    background-size: 1.15rem 0.12rem;
}

.fixed-btn{
    position: absolute;
    left: 0.3rem;
    bottom: 0.3rem;

    display: block;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #0657a5;
    box-shadow: 0 0 10px #0657a5;
    color: #fff;
    text-align: center;
    font-size: 0.24rem;
}

.fixed-btn img{
    display: block;
    margin: 0.2rem auto 0.05rem;
    width: 0.42rem;
    height: 0.42rem;
}

.filter-form{
    margin-top: 0.62rem;
    padding: 0 0.3rem;
    font-size: 13px;
}
[data-dpr="3"] .filter-form{
    font-size: 15px;
}

.filter-form .form-group{
    margin: 0;
    padding: 0;
}
.filter-form .form-group label{
    padding: 0.25rem 0;
}
.filter-form .input-select{
    height: 18px;
    line-height: 0.36rem;
    padding: 0.25rem 0;
    margin-left: 1.8rem;
    background: url(../imgs/ico-select-big@2x.png) no-repeat right;
    background-size: 0.16rem 0.27rem;
}
.filter-form .input-select:after{
    display: none;
}

.ico-port-search{
    width: 0.6rem;
    height: 0.6rem;
}
.form-port-search{
    padding: 0;
    margin: 0.15rem 0.3rem;
    border: 1px solid #0657a5;
    border-radius: 3px;
    background: #fff;
}
.form-port-search input{
    font-size: 13px;
    padding: 0.15rem 0;
    margin-left: 0.6rem;
}
[data-dpr="3"] .form-port-search input{
    font-size: 15px;
}

.apply-form .form-group {
    margin: 0;
    padding: 0 0.3rem;
    background: #fff;
}
.apply-form .form-group label {
    padding: 0;
    margin: 0.3rem 0;
    font-size: 13px;
}
.apply-form .form-group input {
    width: 4rem;
    text-align: right;
    font-size: 13px;
    padding: 0.3rem 0;
}
.apply-form .subtitle {
    margin-left: 0.3rem;
}
.apply-form .form-select i.ico-select {
    margin: 0.07rem 0;
}
.apply-form .input-select {
    font-size: 13px;
    padding: 0.3rem 0;
    line-height: 0.36rem;
    width: 4rem;
    text-align: right;
    color: #c2c2c2;
}
.apply-form .input-select:after {
    vertical-align: baseline;
    margin-left: 0.1rem;
}
.apply-form .input-select.active {
    color: #333;
}
[data-dpr="3"] .apply-form .form-group label ,
[data-dpr="3"] .apply-form .form-group input ,
[data-dpr="3"] .apply-form .input-select {
    font-size: 15px;
}

.logis-info{
    padding: 0.2rem 0.2rem 0.3rem;
    background: #fff;
}
.logis-info h2{
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px dashed #d6d6d6;
}
.logis-info p{
    font-size: 14px;
    line-height: 1;
    padding-bottom: 0.25rem;
}
[data-dpr="3"] .logis-info h2{
    font-size: 17px;
}
[data-dpr="3"] .logis-info p{
    font-size: 16px;
}
.logis-bill{
    background: #fff;
    padding: 1px 0.2rem;

}
.logis-bill-title{
    font-size: 12px;
    color: #666;
}
[data-dpr="3"] .logis-bill-title{
    font-size: 12px;
    color: #666;
}
.logis-bill-row{
    margin: 0.3rem 0;
}
.logis-bill-row span{
    float: left;
    display: block;
    width: 33.3%;
}
.logis-bill-row span:nth-child(2){
    text-align: center;
}
.logis-bill-row span:nth-child(3){
    text-align: right;
}
.logis-bill-total{
    padding-top: 0.3rem;
    border-top: 1px dashed #d6d6d6;
}
.logis-bill-total b{
    color: #666;
    font-weight: 500;
}

.other-service{
    position: absolute;
    top: 0.88rem;
    bottom: 0;
    right: 0;
    width: 5rem;
    background: #fff;
    padding: 0.4rem 0.3rem;
}
.other-service .form-radio{
    display: inline-block;
    width: 1.6rem;
    text-align: center;
    line-height: 0.6rem;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    font-size: 13px;
    color: #666;
}
.other-service input[type="radio"]:checked + .form-radio{
    border-color: #0657a5;
    color: #0657a5;
}
