<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>注册</title>
		<script>
		var deviceWidth = document.documentElement.clientWidth;
		if(deviceWidth > 750) deviceWidth = 750;
		document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
		</script>
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.css ">
		<link rel="stylesheet" type="text/css" href="../../css/common.css ">
		<style>
		.page-content{
			margin: 0 0.3rem;
		}
		.btn{
			margin: 0.6rem 0 0;
		}
		.ico-arrow-right{
			vertical-align: baseline;
			margin-left: 0.15rem;
		}
		.btn-outline{
			margin-top: -0.32rem;
		}
		.btn-outline.active{
			color: #333;
			border-color: #aaa;
		}
		a{text-decoration: none;}
		</style>
	</head>
	<body>
		<div class="page" id="app" v-cloak>
			<div class="header navigation">
				<a class="ico-back fl" onclick="history.go(-1);"></a>
				<h1>注册</h1>
			</div>
		    <div class="main">
		      	<div class="scroll-container page-content">
					<div class="form-group">
						<i class="ico-tel fl"></i>
						<input v-model="tel" type="number" placeholder="请输入手机号码">
					</div>
					<div class="form-group">
						<i class="ico-code fl"></i>
						<a v-show="countDown == 0" class="btn-outline fr" :class="{active:tel != ''}" v-on:click="getCode">获取验证码</a>
						<a v-show="countDown != 0" class="btn-outline fr">倒数{{countDown}}s</a>
						<input v-model="code" style="width: 3rem;" type="text" placeholder="请输入短信验证码">
					</div>
					<div class="form-group">
						<i class="ico-password fl"></i>
						<input v-model="password" type="password" placeholder="请设置6-12位数密码" maxlength="12">
					</div>
					<div class="form-group">
						<i class="ico-repet-pw fl"></i>
						<input v-model="secondPassword" type="password" placeholder="请再次输入密码" maxlength="12">
					</div>
					<div class="form-group">
						<i class="ico-email fl"></i>
						<input v-model="email" type="text" placeholder="请输入邮箱地址">
					</div>
					<div class="form-group">
						<i class="ico-account fl"></i>
						<input v-model="name" type="text" placeholder="请输入姓名">
					</div>
					<div class="form-group">
						<i class="ico-company fl"></i>
						<input v-model="companyName" type="text" placeholder="请输入公司名称">
					</div>
					<a class="btn" :class="{disabled: !isFinished}" v-on:click="submit">注册</a>
					<p style="color: #c2c2c2; margin-top: 0.2rem;">注册即代表阅读并同意<a href="register-protocol.html">《亿领平台服务协议》</a></p>
				</div>
			</div>
		</div>
        <script src="../../js/vue.js"></script>
        <script src="../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                data: {
                    countDown: 0,
                    'tel': '',
                    'code': '',
                    'password': '',
                    'secondPassword': '',
                    'email': '',
                    'name': '',
                    'companyName': ''
                },
                computed: {
                    isFinished: function () {
                        return this.tel != ''
                        && this.code != ''
                        && this.password != ''
                        && this.secondPassword != ''
                        && this.email != ''
                        && this.name != ''
                        && this.companyName != ''
                        ;
                    }
                },
                methods: {
                    submit: function () {
                        if(this.isFinished){
                        	// todo 邮箱格式校验
                        	window.location.href = 'register-success.html';
                        }
                    },
                    getCode: function(){
                    	var _this = this;
                    	if(this.tel){

							weui.alert('验证码已发送至134****9966，请查看您的手机短信', {
								className: 'my-alert',
							});

                    		_this.countDown = 60;
                    		var time = setInterval(function(){
                    			console.log(_this.countDown)
                    			if(_this.countDown != 0){
                    				_this.countDown -= 1
                    			}else{
                    				clearInterval(time);
                    			}
                    		}, 1000);
                    	}else{

                    	}
                    }
                }
            });
        </script>
	</body>
</html>
