<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>重置密码</title>
		<script>
		var deviceWidth = document.documentElement.clientWidth;
		if(deviceWidth > 750) deviceWidth = 750;
		document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
		</script>
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.css ">
		<link rel="stylesheet" type="text/css" href="../../css/common.css ">
		<style>
		.page-content{
			margin: 1.33rem 0.3rem 0;
		}
		.btn{
			margin: 0.6rem 0;
		}
		.ico-arrow-right{
			vertical-align: baseline;
			margin-left: 0.15rem;
		}
		.btn-outline{
			margin-top: -0.32rem;
		}
		.btn-outline.active{
			color: #333;
			border-color: #aaa;
		}
		a{text-decoration: none;}
		</style>
	</head>
	<body>
		<div class="navigation">
			<a class="ico-back fl" onclick="history.go(-1);"></a>
			<h1>重置密码</h1>
		</div>
		<div class="page-content" id="app">
			<div class="form-group">
				<i class="ico-tel fl"></i>
				<!-- <a class="ico-del form-empty fr"></a> -->
				<input v-model="tel" type="text" placeholder="请输入您的手机号码">
			</div>
			<div class="form-group">
				<i class="ico-code fl"></i>
				<a v-show="countDown == 0" class="btn-outline fr" :class="{active:tel != ''}"  v-on:click="getCode">获取验证码</a>
				<a v-show="countDown != 0" class="btn-outline fr">倒数{{countDown}}s</a>
				<input v-model="code" style="width: 3rem;" type="text" placeholder="请输入短信验证码">
			</div>
			<a class="btn" :class="{disabled: !isFinished}" v-on:click="submit">下一步</a>
			<p style="font-size: 14px;text-align: center;">
				<a style="color: #666;" href="reset-password-email.html">邮箱账号重置密码 <i class="ico-arrow-right"></i></a>
			</p>
		</div>
		<!-- 兼容华为低版本浏览器 -->
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
		<!-- 兼容华为低版本浏览器 -->
        <script src="../../js/vue.js"></script>
        <script src="../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                data: {
                    tel: '',
                    code: '',
                    countDown: 0
                },
                computed: {
                    isFinished: function () {
                        return this.tel != '' && this.code != '';
                    }
                },
                methods: {
                    submit: function () {
                        if(this.isFinished){
                        	window.location.href = 'reset-password.html';
                        }
                    },
                    getCode: function(){
                    	var _this = this;
                    	if(this.tel){

							weui.alert('验证码已发送至134****9966，请查看您的手机短信', {
    							className: 'my-alert',
							});

                    		_this.countDown = 60;
                    		var time = setInterval(function(){
                    			console.log(_this.countDown)
                    			if(_this.countDown != 0){
                    				_this.countDown -= 1
                    			}else{
                    				clearInterval(time);
                    			}
                    		}, 1000);
                    	}
                    }
                }
            });
        </script>
	</body>
</html>
