<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>报价申请</title>
		<script src="../../js/fit.js"></script>
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" href="../../css/icon.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/enquiry.css">
        <style>
        .page-content{
            padding: 0 0.3rem;
        }
        .form{
            font-size: 12px;
            background: #fff;
            padding: 0 0.2rem;
            color: #333;
            min-height: 1.92rem;
						margin-top: 0.3rem;
        }
		[data-dpr="3"] .form{
			font-size: 14px;
		}
		.label-must::before{
			line-height: 14px;
		}
        .btn{
            margin: 0.4rem 0;
        }
        </style>
	</head>
	<body>
	<div class="page" id="app" v-cloak>
		<div class="header navigation">
			<a class="ico-back fl" onclick="history.go(-1);"></a>
			<h1>报价申请</h1>
		</div>
	    <div class="main">
	      	<div class="scroll-container page-content">
						<div class="form">
							<div class="form-group fix">
									<label class="label-must fl">报价</label>
									<input v-model="price" type="number" placeholder="请输入价格（人民币：元）">
							</div>
							<div class="form-group fix">
									<label class="label-must fl">报价说明</label>
									<textarea v-model="description" rows="4" placeholder="请输入报价描述"></textarea>
							</div>
	          </div>
						<a class="btn" :class="{disabled: !isFinished}" v-on:click="submit">立即提交</a>
			</div>
		</div>
	</div>
		<!-- 兼容华为低版本浏览器 -->
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
		<!-- 兼容华为低版本浏览器 -->
        <script src="../../js/vue.js"></script>
        <script src="../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                data: {
                    id: '',
                    price: '',
                    description: ''
                },
                computed: {
                    isFinished: function () {
                        return this.price != '' && this.description != '';
                    }
                },
                methods: {
                    submit: function () {
                        window.location.href = 'enquiry-success.html';
                    }
                }
            });
        </script>
	</body>
</html>
