<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>询价信息</title>
		<script>
		var deviceWidth = document.documentElement.clientWidth;
		if(deviceWidth > 750) deviceWidth = 750;
		document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
		</script>
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" href="../../css/icon.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/enquiry.css">
	</head>
	<body>
		<div class="header navigation">
			<a class="ico-back fl" onclick="history.go(-1);"></a>
			<h1>询价信息</h1>
		</div>
	    <div class="main">
	      	<div class="scroll-container page-content" id="app" v-cloak>
				<div class="enquiry-item" v-for="obj in list" v-on:click="openDetail(obj)">
	                <h2>{{obj.name}}</h2>
	                <p class="inaline"><i class="ico-car"></i><b>车型：</b>{{obj.carType}}</p>
	                <p class="inaline"><i class="ico-date"></i><b>询价有效期：</b>{{obj.indate}}</p>
	                <p class="inaline"><i class="ico-safety"></i><b>供应商要求：</b>{{obj.demand}}</p>
	                <a v-if="obj.status === 0" class="to-enquiry" v-on:click="openFrom(obj.id)">我要报价</a>
	                <a v-else-if="obj.status === 1" class="enquiry-status enquiry-status-1"></a>
	                <a v-else-if="obj.status === 2" class="enquiry-status enquiry-status-2"></a>
	                <a v-else-if="obj.status === 3" class="enquiry-status enquiry-status-3"></a>
	            </div>
			</div>
		</div>
		<!-- 兼容华为低版本浏览器 -->
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
		<!-- 兼容华为低版本浏览器 -->
        <script src="../../js/vue.js"></script>
        <script src="../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                data: {
                    list: [{
                        'id': '122131',
                        'status': 0, // 0 未报价 1 已报价 2 未采纳 3 已采纳
                        'name': '空气滤清器',
                        'carType': '商用车',
                        'indate': '2018-05-30',
                        'demand': 'IATR16949认证'
                    },{
                        'id': '124311',
                        'status': 1, // 0 未报价 1 已报价 2 未采纳 3 已采纳
                        'name': '空气滤清器',
                        'carType': '商用车',
                        'indate': '2018-05-30',
                        'demand': 'IATR16949认证'
                    },{
                        'id': '122141',
                        'status': 2, // 0 未报价 1 已报价 2 未采纳 3 已采纳
                        'name': '空气滤清器',
                        'carType': '商用车',
                        'indate': '2018-05-30',
                        'demand': 'IATR16949认证IATR16949认证IATR16949认证IATR16949认证IATR16949认证'
                    },{
                        'id': '11241',
                        'status': 3, // 0 未报价 1 已报价 2 未采纳 3 已采纳
                        'name': '空气滤清器',
                        'carType': '商用车',
                        'indate': '2018-05-30',
                        'demand': 'IATR16949认证'
                    }]
                },
                methods: {
                    openDetail: function (obj) {
						if(obj.status == 0){
	                        window.location.href = 'enquiry-detail.html?id=' + obj.id;
						}
                    }
                }
            });
        </script>
	</body>
</html>
