<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>物流询价</title>
		<script src="../../../js/fit.js"></script>
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" href="../../../css/icon.css">
		<link rel="stylesheet" href="../../../css/common.css">
		<link rel="stylesheet" href="../../../css/logistics.css">
		<style>
			.success-message p{
				line-height:2;
				margin-bottom: 0.6rem;
			}
            .enquiry-item{
                margin-bottom: 0.2rem;
            }
            .detail-mark{
                position: absolute;
                right: 0;
                bottom: 0.5rem;
                width: 1.3rem;
                line-height: 0.55rem;
                padding-left: 0.3rem;
                border-radius: 100px 0 0 100px;
                font-size: 12px;
                color: #fff;
                background: #0657a5;
            }
            [data-dpr="3"] .detail-mark {
                font-size: 14px;
            }

		</style>
	</head>
	<body>
	<div class="page" id="app" v-cloak>
		<div class="header navigation">
			<a class="ico-back fl" onclick="history.go(-1);"></a>
            <a class="ico-search fr" href="logis-price-form.html"></a>
			<h1>查询结果</h1>
		</div>
	    <div class="main">
            <div class="scroll-container page-content" :class="{white: list.length == 0 }">
                <template v-if="list.length == 0">
    			   <div class="success-message">
    				   <i class="ico-info"></i>
    				   <p>抱歉，暂未搜索到相关运价信息，您可以点击询价申请按钮进行询价。</p>
    				   <a class="btn" href="../apply/logis-apply-form.html">询价申请</a>
    			   </div>
                </template>
                <template v-else>
                    <div class="enquiry-item" v-for="obj in list" v-on:click="openDetail(obj)">
                        <h2 class="fix"><span class="fl">{{obj.from.toUpperCase()}}</span><span class="fr">{{obj.to.toUpperCase()}}</span><i class="ico-from-to"></i></h2>
                        <p class="inaline"><b>柜型：</b>{{obj.boxType}}</p>
                        <p class="inaline"><b>柜量：</b>{{obj.boxNumber}}</p>
                        <p class="inaline"><b>有效期：</b>{{obj.beginDate}} 至 {{obj.endDate}}</p>
                        <a class="detail-mark">运价详情</a>
                    </div>
                </template>
    		</div>
    	    </div>
        </div>
		<!-- 兼容华为低版本浏览器 -->
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
		<!-- 兼容华为低版本浏览器 -->
        <script src="../../../js/vue.js"></script>
        <script src="../../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                data: {
                    list: [
                        {
                        id:0,
                        from: 'wuhan',
                        to: 'ELKHART',
                        boxType: '20GP',
                        boxNumber: 1,
                        beginDate: '2018-05-15',
                        endDate: '2019-05-14'
                    },{
                        id:1,
                        from: 'WUHAN',
                        to: 'ELKHART',
                        boxType: '20GP',
                        boxNumber: 1,
                        beginDate: '2018-05-15',
                        endDate: '2019-05-14'
                    },
                        {
                        id:3,
                        from: 'WUHAN',
                        to: 'ELKHART',
                        boxType: '20GP',
                        boxNumber: 1,
                        beginDate: '2018-05-15',
                        endDate: '2019-05-14'
                    },{
                        id:4,
                        from: 'WUHAN',
                        to: 'ELKHART',
                        boxType: '20GP',
                        boxNumber: 1,
                        beginDate: '2018-05-15',
                        endDate: '2019-05-14'
                    }
                    ]
                },
                methods: {
                    openDetail: function (obj) {
						window.location.href = '../detail/logis-detail.html?id=' + obj.id + '&edit=true';
                    }
                }
            });
        </script>
	</body>
</html>
