<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<!--iphone-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--iphone-->
		<title>港口选择</title>
		<script src="../../js/fit.js"></script>
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
		<link rel="stylesheet" href="../../css/icon.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/logistics.css">
		<style>
			.success-message p{
				line-height:2;
				margin-bottom: 0.6rem;
			}
		</style>
	</head>
	<body>
	<div class="page" id="app" v-cloak>
		<div class="header navigation">
			<a class="ico-back fl" onclick="history.go(-1);"></a>
			<h1>{{title}}</h1>
		</div>
	    <div class="main">
            <div class="scroll-container page-content" :class="{white: list.length == 0 }">
                <div class="form-group form-port-search fix">
                    <i class="ico-port-search fl"></i>
                    <input type="text" placeholder="请输入港口名称" v-model="searchKeyword">
                </div>
                <div class="port-list" v-if="searchKeyword == ''">
                    <h2>热门</h2>
                    <p v-for="obj in hot" class="fix" v-on:click="selected(obj)">
                        <span class="fl">{{obj.englishName.toUpperCase()}}</span>
                        <span class="fr">{{obj.name}}</span>
                    </p>
                </div>
                <div class="port-list" v-else>
                    <p v-for="obj in hot" class="fix" v-on:click="selected(obj)">
                        <span class="fl">{{obj.englishName.toUpperCase()}}</span>
                        <span class="fr">{{obj.name}}</span>
                    </p>
                </div>
    		</div>
    	</div>
    </div>
		<!-- 兼容华为低版本浏览器 -->
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
		<!-- 兼容华为低版本浏览器 -->
        <script src="../../js/vue.js"></script>
        <script src="../../js/vue.touch.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
        <script>
            var vapp = new Vue({
                el: '#app',
                created: function () {
					var data = parseUrl(location.href);
					this.key = data.key;
					if(data.key == 'from'){
						this.title = '起运港';
					}else if(data.key == 'to'){
						this.title = '目的港';
					}
                },
                data: {
					searchKeyword: '',
					key: '',
					title: '',
                    hot: [
                        {
                            id:0,
                            name: '宁波',
                            englishName: 'NINGBO'
                        },{
                            id:1,
                            name: '上海',
                            englishName: 'SHANGHAI'
                        },{
                            id:2,
                            name: '深圳',
                            englishName: 'SHENZHEN'
                        },{
                            id:3,
                            name: '武汉',
                            englishName: 'WUHAN'
                        }
                    ],
                    list: [
                        {
                            id:0,
                            name: '宁波',
                            englishName: 'NINGBO'
                        },{
                            id:1,
                            name: '上海',
                            englishName: 'SHANGHAI'
                        },{
                            id:2,
                            name: '深圳',
                            englishName: 'SHENZHEN'
                        },{
                            id:3,
                            name: '武汉',
                            englishName: 'WUHAN'
                        }
                    ]
                },
                methods: {
                    selectPort: function (obj) {
						if(obj.status == 0){
	                        window.location.href = '../detail/logis-detail.html?id=' + obj.id;
						}
                    },
					selected: function (obj) {
						 sessionStorage.setItem(this.key + '-value', JSON.stringify(obj));
						 history.go(-1);
					}
                }
            });

function parseUrl(url){
  var result = {};
  var query = url.split("?")[1];
  var queryArr = query.split("&");
  queryArr.forEach(function(item){
    var value = item.split("=")[0];
    var key = item.split("=")[1];
    result[value] = key;
  });
  return result;
}
        </script>
	</body>
</html>
